@font-face{
    font-family: 'Fira Sans';
    src: url('FiraSans-Regular.woff2') format('woff2'),
         url('FiraSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: url('FiraMono-Regular.woff2') format('woff2'),
         url('FiraMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
	}


body {
	color: #444;
	min-height: 800px;
	margin: 0px;
	padding: 0px;
	display: flex;
	flex-flow: row;
	font-family: "Fira Sans";
}

header {
	transition: all 0.3s ease-out;
	flex: 1 1 20%;
	background: #191818;
	order: 0;
}

body > article {
	margin: 4px;
	padding: 5px;
	flex: 2 1 80%;
	order: 1;
}

#menu-title {
	font-size: 1.25rem;
	font-weight: 400;
	padding: 0em 0.5em 0.5em;
}

.menu-item {
	text-decoration: none;
	color: #ffffff;
	line-height: 1.6;
	padding: 0.5em 0.5em;
	display: block;
}

.menu-item:hover {
	background: #1f8dd6;
}

header ul {
	border-top: 1px solid #333;
	list-style: none;
	padding: 0;
	margin: 0;
}

@media all and (max-width: 800px) {
	body {
		flex-direction: column;
	}
	header {
		flex: none;
	}
	body > article {
		order: 1;
	}
}
