<div id="menu">
        <div class="pure-menu">
            <a class="pure-menu-heading" href="/">{{ SITENAME }}</a>

            <ul class="pure-menu-list">
                {% for title, link in MENUITEMS %}
                        <li class="pure-menu-item"><a href="{{ SITEURL }}/{{ link }}" class="pure-menu-link">{{ title }}</a></li>
                {% endfor %}
            </ul>
            <p class="social">
              {% for title, link in SOCIAL %}
                <a href="{{ link }}"><i class="fa fa-{{ title }} fa-3x"></i></a>
              {% endfor %}
            </p>
        </div>
</div>
